<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>LFG - Edit your meeting!</title>
</head>

<body>
    <div>
        <h2>Edit your meeting!</h2>
        <div>
            <form th:object="${meeting}" th:action="@{../savemeeting}" method="post">
                <input type="hidden" th:field="*{meetingId}" />
                <div>
                    <label for="title">Title</label>
                    <input type="text" th:field="*{title}" />
                </div>
                <div>
                    <label for="category">Category</label>
                    <select id="category" th:field="*{category}">
                        <option th:each="category : ${categories}" th:value="${category.catId}"
                            th:text="${category.catName}"></option>
                    </select>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" th:field="*{location}" />
                </div>
                <div>
                    <label for="date">Date</label>
                    <input placeholder="dd.mm.yyyy" type="date" id="date" name="date" required th:field="*{date}"/>
                </div>
                <div>
                    <label for="content">Content</label>
                    <input type="text" th:field="*{content}" />
                </div>
                <div>
                    <input type="submit" value="Save" />
                    <input type="button" onclick="location.href='/eventlist'" value="Cancel" />
                </div>
        </div>
    </div>

</body>

</html>