<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>LFG - All events</title>
</head>

<body>
    <div>
        <h1>Looking for Group</h1>
    </div>
    <div>
        <td>
            <a href="/add">Create new meeting</a>
        </td>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" meeting : ${meetings}">
                    <td th:text="${meeting.title}"></td>
                    <td th:text="${meeting.category != null ? meeting.category.catName : ''}"></td>
                    <td th:text="${meeting.location}"></td>
                    <td th:text="${meeting.getDateString}"></td>
                    <td th:text="${meeting.content}"></td>
                    <td><a th:href="@{/editmeeting/{id}(id=${meeting.meetingId})}">Edit</a></td>
                    <td><a th:href="@{/deletemeeting/{id}(id=${meeting.meetingId})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>