<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>LFG - Looking For Group</title>
</head>

<body>
    <header>
        <h1>Welcome to LFG - Looking for Group</h1>
    </header>
    <main>
        <p>Want to meet new peeps and have fun?</p>
        <a href="/login" class="btn btn-sm btn-primary">Login</a>
        <a href="/register" class="btn btn-sm btn-success">Register</a>
        <a href="/events" class="btn btn-sm btn-info">Just look around</a>
    </main>
</body>

</html>