<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Login to LFG</title>
</head>
  <body>
    <h1>This page is currently under construction</h1>
    <p>We apologize for the inconvenience. Please check back later.</p>
    <a href="/" class="btn btn-sm btn-primary">Back to Index</a>
  </body>
</html>
